@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Righteous&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;

}

body {
    background: url(img/image.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 20px;
    font-family: 'Righteous', cursive;
}
.container{
    width: 350px;
    background: rgba(0, 0, 0, 0.527);
    border-radius: 20px 0;
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 50px 20px;
}

input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: .25s ease-in-out;
}

.input-field{
    position: relative;
    margin-bottom: 20px;

}

label {
    position: absolute;
    top: -15px;
    left: 5px;
    color: #fff;
    transform: translateY(18px);
    transition: .25s ease-in-out;

}

input:focus{
    border-bottom: 2px solid #a96c26 ;
    box-shadow: 0 1px 0 0 #a96c26;
}

input:focus + label{
    transform: translate(-14px) scale(.8);
    color: #a96c26;
    font-weight: bold;
}

input:not(:placeholder-shown) + label{
    transform: translate(-14px) scale(.8);
    color: #a96c26;
    font-weight: bold;

}
input:not(:placeholder-shown){
    border-bottom: 2px solid #a96c26 ;
    box-shadow: 0 1px 0 0 #a96c26;
}

input::placeholder{
    color: transparent
}

button{
    padding: 15px 50px;
    margin: 20px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

button:hover{
    background: rgba(255, 94, 0, 0.363);
}

.center{
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
    transition: .25s ease-in-out .10s;
    text-align: center;

}
a:hover{
    color: #a96c26;
}
